.dataCard{
    border-radius: 8px;
    background: rgba(32, 32, 32, 0.80);
    color: white;
    padding: 24px 0px;
    padding-left: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
}

.cardElement{
    padding: 3px;
}

.fieldTitle{
    color: rgba(255, 255, 255, 0.6000000238418579);
    font-family: Inter;
    font-size: 14px;
}

.fieldValue{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}