.bkgrd{
    height: calc(95vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    border-radius: 8px;
    background: rgba(32, 32, 32, 0.80);
    box-shadow: 0px 0px 20px 0px rgba(82, 205, 7, 0.20);
    padding: 60px;
}

.emailInput, .passwordInput{
    display: flex;
    flex-direction: column;
}

.passwordInput{
    margin-top: 10px;
}

.emailInput label, .passwordInput label{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
}

.emailInput input, .passwordInput input{
    background-color: #1E1E1E;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 8px;
    width: 250px;
    color: white;
}

.forgetPassword{
    display: flex;  
    justify-content: space-between;
}

.fpLink{
    font-size: smaller;
    margin-top: 10px;
    color: whitesmoke;
}

.signInButton{
    width: 100%;
    background-color: #0BA757;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loginError{
    margin-top: 10px;
    border: red 1px solid;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.316);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 0px;
}